<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">חיפוש מורחב</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="row">
                <div class="col">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            אירופה      
                        </div>
                        <select>
                            <option selected>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            ספרד
                        </div>
                        <select>
                            <option selected>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            ברצלונה
                        </div>
                        <select>
                            <option selected>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>



