<ion-view title="Page 2" hide-back-button="false" style="direction: rtl;">
    <ion-content>
        <!-- The content of the page -->
        <div class="list list-inset" style="direction: rtl;">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="חיפוש">
            </label>
        </div>
        <div class="list">
            <div class="row">
                <div class="col">
                    <label class="item item-input " style="padding-right: 25px;">
                        <span class="input-label">יציאה</span>
                        <input type="date" />
                    </label>
                </div>

                <div class="col">
                    <label class="item item-input" style="padding-right: 25px;">
                        <span class="input-label">חזרה</span>
                        <input type="date" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            מבוגר
                        </div>
                        <select>
                            <option selected>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <button class="button button-block button-assertive icon-left ion-search">
                    הצג תוצאות
                </button>
            </div>
        </div>
        <div class="list">
            <a class="item item-thumbnail-right item-icon-left" href="#">
                <img ng-src="images/img6.jpg">
                <h2>חופשה חלומית ליוון</h2>
                <h3>500$</h3>
                <p>מ: 24/10/2015</p>
                <p>עד: 24/11/2015</p>
            </a>

            <a class="item item-thumbnail-right item-icon-left" href="#">
                <img ng-src="images/img6.jpg">
                <h2>חופשה חלומית ליוון</h2>
                <h3>500$</h3>
                <p>מ: 24/10/2015</p>
                <p>עד: 24/11/2015</p>
            </a>

            <a class="item item-thumbnail-right item-icon-left" href="#">
                <img ng-src="images/img6.jpg">
                <h2>חופשה חלומית ליוון</h2>
                <h3>500$</h3>
                <p>מ: 24/10/2015</p>
                <p>עד: 24/11/2015</p>
            </a>
        </div>
    </ion-content>
</ion-view>